<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,302},{36,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{36,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,292},{36,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,18},{36,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,254},{36,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,16},{36,48}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_157.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{36,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{36,50}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_158.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,236},{36,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,16},{36,48}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_159.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,354},{36,42}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{36,42}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,434},{48,46}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{48,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_161.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,206},{50,46}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{50,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_162.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{50,46}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{50,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_163.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,318},{34,46}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,18},{34,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_164.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,334},{36,44}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,20},{36,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_165.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,286},{36,46}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{36,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_166.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,274},{42,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,18},{42,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_167.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,330},{42,44}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,20},{42,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_168.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{62,58}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,6},{62,58}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_169.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,44}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{76,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_170.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,44}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{76,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_171.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,44}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{76,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_172.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{72,44}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,20},{72,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_173.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{74,44}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{74,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,44}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{76,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_175.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{74,44}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{74,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_176.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,256},{62,46}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{62,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_177.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,260},{40,46}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{40,46}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_178.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,206},{42,48}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{42,48}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_179.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,256},{42,44}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,19},{42,44}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_180.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,236},{48,32}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,38},{48,32}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_181.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,48},{50,24}}</string>
                <key>offset</key>
                <string>{-22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{50,24}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{52,26}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{52,26}}</string>
                <key>sourceSize</key>
                <string>{124,72}</string>
            </dict>
            <key>character_183.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,190},{44,60}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{44,60}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_184.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,210},{44,64}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{44,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_185.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,96},{44,66}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{44,66}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,96},{46,66}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{46,66}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_187.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,300},{46,62}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,8},{46,62}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_188.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,304},{48,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,16},{48,54}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_189.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,142},{46,60}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,10},{46,60}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_190.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,206},{46,64}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,6},{46,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_191.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,104},{44,66}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{44,66}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_192.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,74},{42,66}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,4},{42,66}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_193.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,142},{42,62}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,8},{42,62}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_194.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,322},{46,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,16},{46,54}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_195.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,274},{46,62}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{46,62}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_196.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,254},{54,62}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{54,62}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_197.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,204},{54,64}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{54,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_198.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,160},{54,64}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{54,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_199.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{62,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,216},{62,56}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{48,54}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,16},{48,54}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,364},{48,52}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{48,52}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{70,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{70,60}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,48},{66,62}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{66,62}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,142},{64,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{64,62}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,154},{54,64}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{54,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,48},{54,70}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{54,70}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,150},{54,64}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,7},{54,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,48},{54,66}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,5},{54,66}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,48},{46,66}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{46,66}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,144},{58,64}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{58,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,76},{58,64}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{58,64}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{58,60}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_214.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,104},{66,54}}</string>
                <key>offset</key>
                <string>{-27,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{66,54}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_215.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,112},{66,40}}</string>
                <key>offset</key>
                <string>{-28,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{66,40}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
            <key>character_216.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,48},{66,46}}</string>
                <key>offset</key>
                <string>{-29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,37},{66,46}}</string>
                <key>sourceSize</key>
                <string>{128,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da01f50a5e2182e6f437b527aa53cedb:1/1$</string>
            <key>textureFileName</key>
            <string>character2.png</string>
        </dict>
    </dict>
</plist>
