<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,200},{34,46}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{34,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,50},{34,46}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{34,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,144},{38,44}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,47},{38,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{38,46}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,45},{38,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,214},{40,44}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{40,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,148},{46,30}}</string>
                <key>offset</key>
                <string>{-20,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,66},{46,30}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,102},{48,22}}</string>
                <key>offset</key>
                <string>{-21,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,74},{48,22}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{34,48}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,43},{34,48}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,50},{34,46}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{34,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{34,50}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{34,52}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,39},{34,52}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,100},{34,46}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{34,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,52},{34,48}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,43},{34,48}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,220},{34,44}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,47},{34,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{48,46}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,45},{48,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,52}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{68,52}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,98},{44,44}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,47},{44,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,196},{38,44}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,47},{38,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,214},{40,46}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,45},{40,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,172},{40,44}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{40,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,154},{48,30}}</string>
                <key>offset</key>
                <string>{-21,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,66},{48,30}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,162},{50,22}}</string>
                <key>offset</key>
                <string>{-22,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,74},{50,22}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,104},{34,48}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,43},{34,48}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{40,50}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,41},{40,50}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,54},{46,48}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{46,48}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{42,52}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,39},{42,52}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,60},{38,56}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,35},{38,56}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{38,56}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,35},{38,56}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,56},{38,50}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{38,50}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,118},{52,50}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,41},{52,50}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,52}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{70,52}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,110},{46,50}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{46,50}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,52},{46,44}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,47},{46,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{34,50}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,41},{34,50}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,208},{46,46}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,45},{46,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,158},{48,42}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,49},{48,42}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,56},{52,32}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,66},{52,32}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,226},{52,26}}</string>
                <key>offset</key>
                <string>{-23,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{52,26}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,152},{34,46}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,45},{34,46}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,184},{34,44}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,47},{34,44}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,108},{48,48}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{48,48}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,52}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,39},{68,52}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
            <key>soldier_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{46,42}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,49},{46,42}}</string>
                <key>sourceSize</key>
                <string>{188,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.png</string>
            <key>size</key>
            <string>{374,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:725044ebc7f39a8d3171fad35323aa48:1/1$</string>
            <key>textureFileName</key>
            <string>soldier.png</string>
        </dict>
    </dict>
</plist>
